/* add css module styles here (optional) */

.test {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.outer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.outer-reverse {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  border: 1px solid black;
}

.container {
  width: 1000px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid black;
}

.spacerContainer {
  display: flex;
  width: 100%;
  height: 25px;
}

.spacer {
  flex: 1;
}

.border-right {
  border-right: 1px solid black;
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  flex: 1;
}
