.flex {
    display: flex;
}

.flex .center {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.inlineBlock {
    display: inline-block;
}

.left .container {
    flex-direction: row;
}

.right .container {
    flex-direction: row-reverse;
    float: left;
}

.top .container {
    flex-direction: column;
    height: 100%;
}

.bottom .container {
    flex-direction: column-reverse;
    height: 100%;
}

.right .container,
.left .container {
    height: 100%;
}

.left .entrySpacer,
.right .entrySpacer,
.left .exitSpacer,
.right .exitSpacer {
    min-height: 100%;
    min-width: 25px;
}

.top .entrySpacer,
.bottom .entrySpacer,
.top .exitSpacer,
.bottom .exitSpacer {
    height: 25px;
    width: 100%;
}

.top .line,
.bottom .line {
    border: 1px solid black;
    border-left: none !important;
    border-bottom: none !important;
    border-top: none !important;
    height: 100%;
    width: 0px;
}

.left .line,
.right .line {
    border: 1px solid black;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
    height: 0px;
    width: 100%;
}

.top .lineContainer,
.bottom .lineContainer {
    height: 100%;
    width: calc(50% - 5px);
}

.left .lineContainer,
.right .lineContainer {
    height: calc(50% - 5px);
    width: 100%;
}

.top .lineContainer {
    border: 1px solid black;
    border-bottom: none !important;
}

.bottom .lineContainer {
    border: 1px solid black;
    border-top: none !important;
}

.left .lineContainer {
    border: 1px solid black;
    border-right: none !important;
}

.right .lineContainer {
    border: 1px solid black;
    border-left: none !important;
}

.child {
    flex: 1 1 0;
}

.left .hide,
.right .hide {
    visibility: hidden;
}

.top .hide,
.bottom .hide {
    visibility: hidden;
    /* width: 0px; */
}
