/* add css module styles here (optional) */


.outer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
  width: 0px;
}

.spacerContainer {
  display: flex;
  width: 100%;
  height: 25px;
}

.spacer {
  flex: 1;
}

.borderRight {
  border-right: 1px solid black;
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  flex: 1;
}

.borderBottom {
  border-bottom: 1px solid black;
}

/* Bottom */
.outerBottom {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.borderTop {
  border-top: 1px solid black;
}

/* Right */
.outerRight {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
}

.parentRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacerContainerRight {
  display: flex;
  width: 25px;
  flex-direction: column;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.borderLeft {
  border-left: 1px solid black;
}

.childrenRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hideRight {
  visibility: hidden;
  height: 0px;
}